body {
  color: rgb(131, 6, 83);
  background-color: rgb(206, 159, 182);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  text-decoration: none;
  color: rgb(121, 4, 59);
}

header img {
  width: 300px;
  height: 520px;
  border-radius: 10px;
  border: 5px solid rgb(131, 31, 48);
}

.center {
  text-align: center;
}

footer img {
  width: 80px;
  height: 80px;
}


img {
  width: 500px;
  float: right;
  margin: 20px 80px 20px 20px;
  border-radius: 10px;
}

footer {
  display: flex;
  justify-content: center;
}

footer a {
  text-align: center;
  margin: 20px;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;

  width: 100%;
  margin: 20px auto;
  padding: 0;

  list-style: none;
}
.menu a {
  text-decoration: none;
  background-color: #f4a3a3;
  color: white;
  padding: 10px 18px;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
}
.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
 
}

.menu li a {
  display: block;
  padding: 10px 15px;
  background-color: rgb(121, 4, 59);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.menu li a:hover {
  background-color: rgb(80, 11, 49);
  transform: scale(1.05);
}
.capa {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding-top: 300px; 
}

.capa h2 {
  font-size: 60px;
  color: rgb(121, 4, 59);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: -40px;
}

.capa h1 {
  font-size: 90px;
   font-family: 'Times New Roman', Times, serif italic;
  color:rgb(121, 4, 59);
  margin: 20px ;
}
.capa h3 {
  margin-top:-25px;
    font-size:16px;
    color:#853d5d;
    font-weight:500;
    letter-spacing:1px;
}

.img-left {
  position: absolute;
  left: 4%;
  top: 8%;
}
.img-right {
  position: absolute;
  right: 4%;
  top: 8%;
}



.capa img {
  width: 250px;
  margin-top: 20px;
}
.capa img {
  width: 220px;
  margin-top: 40px;
}
.img1, .img2, .img3,
.img4, .img5, .img6{
  position: absolute;
  margin-top: 70px;
  width: 180px;
  border: 8px solid rgb(121, 4, 59);
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}


.img1{
  margin-top: '20rem';
  left: 20px;
  top: 20px;
  transform: rotate(-8deg);
}

.img2{
  left: 20px;
  top: 220px;
  transform: rotate(6deg);
}

.img3{
  left: 20px;
  top: 420px;
  transform: rotate(-5deg);
}


.img4{
  right: 20px;
  top: 20px;
  transform: rotate(8deg);
}

.img5{
  right: 20px;
  top: 220px;
  transform: rotate(-6deg);
}

.img6{
  right: 20px;
  top: 420px;
  transform: rotate(5deg);
}
.copyright {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  font-size: 14px;
  color: #853d5d;
  text-align: center;

  background: rgba(255, 255, 255, 0.6);
  padding: 6px 12px;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}
/* ÁREA DO BOTÃO VER MAIS */
.dropdown {
    position: relative;
    display: flex;
    align-items: center;
}

/* BOTÃO VER MAIS */
.btn-ver-mais {
    background-color: rgb(121, 4, 59);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

/* EFEITO AO PASSAR O MOUSE */
.btn-ver-mais:hover {
    background-color: rgb(80, 11, 49);
    transform: scale(1.05);
}

/* SETINHA */
.btn-ver-mais span {
    font-size: 10px;
    margin-left: 4px;
}

/* MENU ESCONDIDO */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;

    width: 210px;

    background-color: white;

    border-radius: 12px;

    padding: 8px;

    box-shadow: 0 8px 20px rgba(0,0,0,0.25);

    z-index: 1000;

    flex-direction: column;

    gap: 5px;
}

/* QUANDO O MENU ESTIVER ABERTO */
.dropdown.ativo .dropdown-menu {
    display: flex;
}

/* LINKS DENTRO DO VER MAIS */
.dropdown-menu li {
    width: 100%;
}

.dropdown-menu li a {
    display: block;

    background-color: transparent;

    color: rgb(121, 4, 59);

    padding: 12px;

    border-radius: 8px;

    text-align: left;

    font-size: 12px;
}

/* HOVER NAS OPÇÕES */
.dropdown-menu li a:hover {
    background-color: rgb(121, 4, 59);

    color: white;

    transform: none;
}
